<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Password</h1>
    <form action="" method="post">
      <div class="container">
        Password not saved at session. <br />
        Password for saving to session
        <input type="password" name="password" placeholder="Password to session" />
        <br />
        Salt for saving to session
        <input type="text" name="salt" placeholder="Salt to session" /> <br />
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
